In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
data = "C:/Users/CLINTON/Documents/My documents/LLM/Informatics/INFX 598/Group project/clean_data.csv"
df = pd.read_csv(data)

In [4]:
df.head()

,energy_star_rating,january_min_temp,january_avg_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,march_avg_temp,april_min_temp,april_avg_temp,...,heating_degree_days,precipitation_inches,snowfall_inches,snowdepth_inches,days_below_30F,days_below_20F,site_eui,State_Factor,building_class,facility_type
0,61.048605,15,38.274194,19,35.785714,60,14,38.000000,19,43.155172,...,5879,31.48,84.8,248,114,22,24.824587,State_1,Commercial,Education_Uncategorized
1,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,37.262764,State_1,Commercial,Education_Uncategorized
2,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,41.813722,State_1,Commercial,Education_Uncategorized
3,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,26.233321,State_1,Commercial,Education_Uncategorized
4,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,26.157331,State_1,Commercial,Education_Uncategorized

In [5]:
df[::-1] #reverse df

,energy_star_rating,january_min_temp,january_avg_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,march_avg_temp,april_min_temp,april_avg_temp,...,heating_degree_days,precipitation_inches,snowfall_inches,snowdepth_inches,days_below_30F,days_below_20F,site_eui,State_Factor,building_class,facility_type
68393,98.000000,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,39.483672,State_11,Residential,5plus_Unit_Building
68392,8.000000,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,132.918411,State_11,Commercial,Office_Uncategorized
68391,79.000000,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,70.298783,State_11,Residential,2to4_Unit_Building
68390,61.048605,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,40.525884,State_11,Commercial,Commercial_Other
68389,61.048605,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,126.285151,State_11,Commercial,Commercial_Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,26.157331,State_1,Commercial,Education_Uncategorized
3,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,26.233321,State_1,Commercial,Education_Uncategorized
2,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,41.813722,State_1,Commercial,Education_Uncategorized
1,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,37.262764,State_1,Commercial,Education_Uncategorized
0,61.048605,15,38.274194,19,35.785714,60,14,38.000000,19,43.155172,...,5879,31.48,84.8,248,114,22,24.824587,State_1,Commercial,Education_Uncategorized

In [6]:
df[::100]

,energy_star_rating,january_min_temp,january_avg_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,march_avg_temp,april_min_temp,april_avg_temp,...,heating_degree_days,precipitation_inches,snowfall_inches,snowdepth_inches,days_below_30F,days_below_20F,site_eui,State_Factor,building_class,facility_type
0,61.048605,15,38.274194,19,35.785714,60,14,38.000000,19,43.155172,...,5879,31.48,84.8,248,114,22,24.824587,State_1,Commercial,Education_Uncategorized
100,61.048605,15,37.500000,17,35.732143,58,26,41.145161,26,56.583333,...,4489,53.08,5.9,6,66,8,129.240116,State_2,Commercial,Commercial_Other
200,80.000000,15,37.500000,17,35.732143,58,26,41.145161,26,56.583333,...,4489,53.08,5.9,6,66,8,84.602709,State_2,Commercial,Lodging_Hotel
300,88.000000,15,37.500000,17,35.732143,58,26,41.145161,26,56.583333,...,4489,53.08,5.9,6,66,8,76.922595,State_2,Commercial,Office_Uncategorized
400,61.048605,15,37.500000,17,35.732143,58,26,41.145161,26,56.583333,...,4489,53.08,5.9,6,66,8,83.268328,State_2,Commercial,Education_College_or_university
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67900,71.000000,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,27.848072,State_11,Residential,2to4_Unit_Building
68000,75.000000,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,27.156606,State_11,Residential,2to4_Unit_Building
68100,11.000000,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,31.518858,State_11,Residential,5plus_Unit_Building
68200,71.000000,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,27.855366,State_11,Residential,2to4_Unit_Building
68300,61.048605,28,43.451613,34,47.672414,64,35,49.354839,40,56.266667,...,3772,45.03,1.4,1,6,0,96.850234,State_11,Commercial,Commercial_Other

In [7]:
df.head()

,energy_star_rating,january_min_temp,january_avg_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,march_avg_temp,april_min_temp,april_avg_temp,...,heating_degree_days,precipitation_inches,snowfall_inches,snowdepth_inches,days_below_30F,days_below_20F,site_eui,State_Factor,building_class,facility_type
0,61.048605,15,38.274194,19,35.785714,60,14,38.000000,19,43.155172,...,5879,31.48,84.8,248,114,22,24.824587,State_1,Commercial,Education_Uncategorized
1,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,37.262764,State_1,Commercial,Education_Uncategorized
2,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,41.813722,State_1,Commercial,Education_Uncategorized
3,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,26.233321,State_1,Commercial,Education_Uncategorized
4,61.048605,21,47.693548,27,51.120690,80,31,50.758065,33,56.683333,...,2842,41.12,0.0,0,15,0,26.157331,State_1,Commercial,Education_Uncategorized

In [9]:
rslt_df = df.loc[df['energy_star_rating'] < 61]
rslt_df[['january_min_temp','february_min_temp','february_max_temp']]

       january_min_temp  february_min_temp  february_max_temp
44                   11                 16                 73
51                   11                 16                 73
64                   14                 21                 70
65                   14                 21                 70
74                   15                 17                 58
...                 ...                ...                ...
68357                28                 34                 64
68361                28                 34                 64
68363                28                 34                 64
68387                28                 34                 64
68392                28                 34                 64

[19637 rows x 3 columns]

In [11]:
df.describe()

,energy_star_rating,january_min_temp,january_avg_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,march_avg_temp,april_min_temp,april_avg_temp,...,september_avg_temp,november_min_temp,cooling_degree_days,heating_degree_days,precipitation_inches,snowfall_inches,snowdepth_inches,days_below_30F,days_below_20F,site_eui
count,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,...,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000,68394.000000
mean,60.391665,9.888923,33.077615,9.660804,34.028844,57.014957,20.085651,43.480200,31.166667,53.267219,...,69.670762,27.679606,1241.970919,4502.699009,43.945961,31.094714,171.654619,52.020601,19.014446,83.812828
std,23.153519,7.486553,5.337691,10.962963,7.535903,7.370250,8.710857,5.800927,4.868939,1.762197,...,3.609649,6.589829,346.867905,542.183310,5.074689,16.502153,173.429836,26.021751,14.283817,56.674654
min,1.000000,-19.000000,10.806452,-13.000000,13.250000,38.000000,-9.000000,25.854839,16.000000,43.155172,...,53.600000,4.000000,0.000000,1791.000000,26.940000,0.000000,0.000000,0.000000,0.000000,1.001169
25%,55.000000,4.000000,29.827586,2.000000,31.625000,55.000000,12.000000,38.096774,26.000000,52.333333,...,68.200000,22.000000,1128.000000,4252.000000,40.970000,14.800000,18.000000,40.000000,11.000000,57.365194
50%,61.048605,11.000000,34.451613,9.000000,33.910714,61.000000,25.000000,40.145161,32.000000,53.333333,...,69.733333,31.000000,1277.000000,4460.000000,42.170000,36.000000,101.000000,50.000000,11.000000,76.759908
75%,75.000000,11.000000,35.080645,17.000000,37.706897,62.000000,26.000000,48.870968,33.000000,54.450000,...,71.800000,32.000000,1489.000000,4760.000000,46.320000,49.100000,377.000000,66.000000,29.000000,98.118169
max,100.000000,35.000000,53.032258,34.000000,53.107143,80.000000,38.000000,57.951613,42.000000,62.933333,...,76.233333,41.000000,2273.000000,7929.000000,53.790000,84.800000,807.000000,137.000000,93.000000,997.866120

In [12]:
final_df = rslt_df.sort_values(by=['energy_star_rating'], ascending=False)

In [13]:
final_df

,energy_star_rating,january_min_temp,january_avg_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,march_avg_temp,april_min_temp,april_avg_temp,...,heating_degree_days,precipitation_inches,snowfall_inches,snowdepth_inches,days_below_30F,days_below_20F,site_eui,State_Factor,building_class,facility_type
40862,60.0,8,29.854839,2,23.946429,43,12,38.096774,32,54.250000,...,4460,40.97,49.1,463,63,34,88.376387,State_6,Residential,Multifamily_Uncategorized
58749,60.0,4,32.903226,12,32.160714,56,23,38.451613,24,51.600000,...,5331,48.96,19.4,25,105,24,98.643279,State_8,Commercial,Retail_Uncategorized
22480,60.0,11,35.080645,17,33.910714,55,27,40.145161,33,52.983333,...,4670,46.32,29.6,64,50,11,87.000000,State_6,Commercial,Office_Uncategorized
31844,60.0,4,28.596774,9,31.625000,56,13,37.661290,31,52.333333,...,4875,53.79,50.0,377,66,24,86.265621,State_6,Residential,Multifamily_Uncategorized
17500,60.0,13,37.322581,20,40.879310,62,25,50.935484,38,54.766667,...,3978,38.51,9.6,10,22,5,72.292093,State_6,Commercial,Office_Uncategorized
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51258,1.0,11,34.451613,-1,37.706897,61,26,48.870968,26,53.333333,...,4252,42.17,36.0,101,40,11,129.545082,State_6,Residential,Multifamily_Uncategorized
63167,1.0,28,45.419355,32,48.321429,62,29,50.725806,37,51.850000,...,3742,39.35,0.0,0,8,0,177.395133,State_11,Commercial,Lodging_Hotel
63166,1.0,28,45.419355,32,48.321429,62,29,50.725806,37,51.850000,...,3742,39.35,0.0,0,8,0,50.201554,State_11,Residential,5plus_Unit_Building
63161,1.0,28,45.419355,32,48.321429,62,29,50.725806,37,51.850000,...,3742,39.35,0.0,0,8,0,106.817986,State_11,Commercial,Nursing_Home
36539,1.0,8,29.854839,2,23.946429,43,12,38.096774,32,54.250000,...,4460,40.97,49.1,463,63,34,347.800000,State_6,Commercial,Nursing_Home

In [15]:
final_df.iat[4,3]

20

In [18]:
#.at look at labels
final_df.at[17500,'january_avg_temp']

37.32258065